*{
    font-family: Mulish;
}

body {
    margin: 0;  /*agar tidak ada jarak pada halaman web*/
}

nav {
    display: flex;
    flex-direction: row;        
    justify-content: space-between;
    padding: 0px 10px;
    background-color: rgba(238, 202, 238, 0.3);
    align-items: center;       /*agar Logo, "menu", dan masuk/daftar sejajar secara vertikal*/    
}

.menu {
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.2px;
}

.menu a {
    text-decoration: none; 
    color: inherit;
    margin: 0 16px;
}

.menu a:hover {
    text-decoration: underline;
}

.logo {
    color: red;
    font-weight: 900;
    font-size: 24px;
}

.daftar {
    color: red;
    background-color: transparent;
    border-color: red;
    padding: 13px 45px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 500;
    transition: background-color 500ms ease-in-out, color 500ms ease-in-out;
   
}

.daftar:hover {
    color: wheat;
    background-color: red;
    border-color: rgb(0, 0, 0);
    cursor: pointer;        /*merubah cursor*/
    
}

.masuk {
    border-color: transparent;
    background-color: transparent;
    padding-right: 15px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}


.page-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(238, 202, 238, 0.3);
}
.title-heading {
    font-size: 44px;
    font-weight: 700;
    width: 700px;
    text-align: center;
}

.kalimat-title {
    width: 700px;
    text-align: center;
}
.btn-primary {
    background-color: red;
    color: aliceblue;
    border-radius: 10px;
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 16px;
    border: solid 2px transparent;
    padding: 10px 50px;
    transition: background-color 500ms ease-in-out, color 500ms ease-in-out;
}

.btn-primary:hover{
    background-color: transparent;
    color: red;
    cursor: pointer;
    border: solid 2px red;
}

.btn-primary:active {
    color: burlywood;
    background-color: blue;
    border: solid 2px rgb(255, 235, 235);
}

.blog-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.section-title-container {
    text-align: center;
    width: 700px;
}

.seemore {
    text-decoration: none;
    color: inherit;
    
}
.seemore:hover {
    text-decoration: underline;
    color: blue;
}

.card-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    width: 400px;
    border: 1px solid rgb(255, 191, 231);
    margin-bottom: 50px;
    border-radius: 16px;
}

.card-body {
    padding-left: 15px;
}

.card p {
    color: brown;
}

.card .gambar-card {
    height: 159px;
    background-color: rgb(203, 255, 255);
    border-radius: 16px 16px 0 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}